.navbar-red {
	background-color:#bb2222;
	border-bottom:3px solid #992222;
	font-family:sans-serif;
	font-size:16px;
}
.navbar-red .navbar-brand {
  color: #777;
}
.navbar-red .navbar-nav > li > a {
  color: #eee;
	padding-left: 0px;
	padding-right: 0px;
}


.navbar-red .navbar-nav > li > a:hover,
.navbar-red .navbar-nav > li > a:focus {
  color: #fff;
   background-color:#bb2222;
  border-bottom:3px solid #992222;
}
.navbar-red .navbar-nav > .active > a,
.navbar-red .navbar-nav > .active > a:hover,
.navbar-red .navbar-nav > .active > a:focus {
  color: #fff;
   background-color:#aa2222;
  border-color:#992222;
}
.navbar-red .navbar-nav > .disabled > a,
.navbar-red .navbar-nav > .disabled > a:hover,
.navbar-red .navbar-nav > .disabled > a:focus {
  color: #aa2222;
  background-color: transparent;
}
.navbar-red .navbar-toggle {
  border-color: transparent;
  border:0px;
}
.navbar-red .navbar-toggle:hover,
.navbar-red .navbar-toggle:focus {
   background-color:#aa2222;
}
.navbar-red .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-red .navbar-collapse,
.navbar-red .navbar-form {
  border-color: #e7e7e7;
  border:0px;
}
.navbar-red .navbar-nav > .open > a,
.navbar-red .navbar-nav > .open > a:hover,
.navbar-red .navbar-nav > .open > a:focus {
  color: #eee;
  background-color: #600;
}
@media (max-width: 767px) {
  .navbar-red .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-red .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-red .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-red .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-red .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-red .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #bb2222;
  }
  .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #eee;
    background-color: transparent;
  }
}
.navbar-red li a:hover{
	background:#992222;
	color:#ddd;
	border-color:transparent;
}
.navbar-red li a{
	color:#eee;
}

.btn
{
	border-radius:0px;
}

.special_input
{
	outline:none;
	background:transparent;
	border:0px;
	width:100%;
	resize:none;
}
.btn-danger{
  background-color:#bb2222;
  border-bottom:3px solid #992222;
}
.btn-default
{
	background:#ccc;
	border-bottom:2px solid #aaa;
}

.form-large
{
	background:#fff;
	border:1px solid #aaa;
	padding:5px;
	outline:none;
	width:100%;
	height:40px
}

*
{
	font-family:arial;
}

.form-control
{
	border-radius: 0px;
}
